version: '3.8'

services:
  django:
    build: .
    volumes:
      - .:/django
    ports:
      - "8050:8050"
    image: django:sites_management_api
    container_name: sites_management_api_container
    command: python manage.py runserver 0.0.0.0:8050