.Modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-contentPropertyCreate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -250%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentPropertyUpdate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -325%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentCameraCreate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -375%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentCameraUpdate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -450%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentAlarmCreate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -375%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentAlarmUpdate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -450%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentClientCreate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -400%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}

.modal-contentClientUpdate {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(480%, -450%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50px;
}